* { 
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container {
    height: 100vh;   
    background-color: rgb(255, 255, 255); 
    display: flex;
}

h2 {
    line-height: 100px;
    color: grey;
}

.wrapper {
    position: relative;
    background-color: rgb(232, 232, 232);
    margin: auto;
    display: flex;
}

.carosello, img{
    background-color: rgb(255, 255, 255);
    height: 500px;
    width: 1000px;
    margin: auto;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: relative;
}

.arrow-left,
.arrow-right {
    color: white;
    font-size: 60px;
    padding: 50px;
    align-items: center;
    display: flex;
    justify-content: space-between;
   
}

.circle {
    height: 60px;
    width: 140px;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.075);
    line-height:  60px;
    text-align: center;
    font-size: 25px;
    color: white;
    position: absolute;
    bottom: 10px;
    left: 420px;
}